#calc{
    margin: auto;
    width: 350px;
    height: 500px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
#screen{
    height: 100px;
    background-color: hsl(0, 0%, 20%);
    font-size:5rem;
    color: white;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 10px; */
}
button{
    width: 60px ;
    height: 60px;
    border: none;
    border-radius: 60px;
    margin: 5px;
    font-size: 3rem;
    color: white;
    background-color: hsl(0, 0%, 30%);
    
}
.operator{
    background-color: hsl(35,100%, 55%);
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator:hover{
    background-color: hsl(35,100%, 65%);
}
.operator:active{
    background-color: hsl(35,100%, 75%);
}