body{
    background-color: black;
    
}
img{
    width: 100px;
    height:100px;
    overflow: hidden;
}
.image{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px;
    border-radius: 10px;
    border-style: groove;
    border-color: white;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.hidden{
   background-color: red;
    
}
caption{
    display: flex;
    flex-direction: column;
}